@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Lobster+Two&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Lobster+Two&family=Playfair+Display&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
body {
  background-image: url(../images/fondochocolate2.0-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

header.menu {
  border-radius: 20px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  padding: 1em;
  background: #a3734e;
  position: sticky;
  top: 8px;
  z-index: 999;
  width: 100%;
}
@media (max-width: 620px) {
  header.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}
@media (max-width: 620px) {
  header.menu div.fotoNav {
    grid-column: 2;
    grid-row: 1;
  }
}
header.menu div {
  display: flex;
  align-items: center;
  justify-content: none;
}
@media (max-width: 867px) {
  header.menu div {
    justify-content: space-around;
  }
}
header.menu div img {
  width: 200px;
  height: 60px;
}
header.menu nav {
  display: flex;
  align-items: center;
  justify-content: none;
}
@media (max-width: 620px) {
  header.menu nav {
    grid-column: 1;
  }
}
header.menu nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  border: none;
}
@media (max-width: 867px) {
  header.menu nav ul {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media (max-width: 620px) {
  header.menu nav ul li.productosResponsive {
    display: none;
  }
}
header.menu nav ul li {
  display: inline-block;
  position: relative;
}
header.menu nav ul li:hover {
  background: rgb(114, 90, 59);
}
header.menu nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.2em 1em;
  font-family: "Lobster Two", cursive;
  font-size: x-large;
}
header.menu nav ul li img {
  display: none;
  width: 25px;
  height: 25px;
}
@media (max-width: 867px) {
  header.menu nav ul li img {
    display: block;
  }
}
header.menu nav ul li.listaResponsive ul.responsive {
  width: 0px;
}
@media (max-width: 620px) {
  header.menu nav ul li.listaResponsive ul.responsive {
    left: 40px;
  }
}
header.menu nav ul li.listaResponsive ul.responsive li.linkResponsive {
  border: 1px solid black;
  background-color: rgb(46, 31, 6);
  width: 110px;
  left: -85px;
}
@media (max-width: 867px) {
  header.menu nav ul li.listaResponsive ul.responsive li.linkResponsive {
    display: block;
  }
}
@media (min-width: 620px) and (max-width: 867px) {
  header.menu nav ul li.listaResponsive ul.responsive #linkResponsiveMobile {
    display: none;
  }
}
@media (max-width: 620px) {
  header.menu nav ul li.listaResponsive ul.responsive #linkResponsiveMobile {
    display: block;
  }
}
@media (max-width: 867px) {
  header.menu nav ul li.Desktop {
    display: none;
  }
}
@media (max-width: 867px) {
  header.menu nav ul li.productosResponsive {
    border-right: 2px solid black;
    border-right: 2px solid black;
  }
}
header.menu div.buscador {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 620px) {
  header.menu div.buscador {
    grid-column: 3;
    flex-direction: row-reverse;
  }
}
header.menu div.buscador input.buscar {
  padding: 0px;
  margin: 5px;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
}
@media (max-width: 620px) {
  header.menu div.buscador input.buscar {
    display: none;
  }
}
header.menu div.buscador img {
  width: 25px;
  height: 25px;
}
header.menu div.buscador img.buscarResponsive {
  display: none;
}
@media (max-width: 620px) {
  header.menu div.buscador img.buscarResponsive {
    display: block;
  }
}

div.buscador {
  width: 100%;
}
div.buscador li {
  list-style: none;
}
div.buscador li div {
  display: inline-block;
  position: relative;
}
div.buscador li div div.formulario {
  display: none;
  position: absolute;
  padding: 10px;
  left: -235px;
}
@media (max-width: 945px) {
  div.buscador li div div.formulario {
    left: -285px;
  }
}
div.buscador li div:hover div.formulario {
  display: block;
  flex-direction: column;
  z-index: 1;
  background: #d1c2a1;
  border-radius: 20px;
  border: 2px solid black;
}
div.buscador li div:hover div.formulario form.contenido {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}
div.buscador li div:hover div.formulario form.contenido div.linea {
  border-top: 2px solid black;
}
div.buscador li div:hover div.formulario form.contenido :nth-child(1) {
  margin: 0px;
}
div.buscador li div:hover div.formulario form.contenido :nth-child(3) {
  margin-top: 30px;
  margin-bottom: 0px;
}
div.buscador li div:hover div.formulario form.contenido :nth-child(6) {
  margin-bottom: 0px;
}
div.buscador li div:hover div.formulario form.contenido a {
  display: flex;
  justify-content: flex-end;
  color: black;
  text-decoration: none;
}
div.buscador li div div.contenido1 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}

header.menu nav ul li:hover ul {
  display: block;
  width: 100%;
  border: 1px solid black;
  background-color: rgb(46, 31, 6);
}
header.menu nav ul li:hover ul li a {
  display: block;
  color: white;
  font-size: larger;
  font-family: "Lobster Two", cursive;
}
header.menu nav ul li:hover ul li a:hover {
  background: rgb(114, 90, 59);
  color: white;
  width: 134px;
}
header.menu nav ul ul {
  display: none;
  position: absolute;
}

main.menu {
  margin-top: 100px;
  /*conoce es el ultimo articulo del index, es un link a productos*/
}
main.menu article.art1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 320px;
}
@media (max-width: 945px) {
  main.menu article.art1 div.gatito1 {
    display: none;
  }
}
main.menu article.art1 div.contenedorInicio {
  display: flex;
}
main.menu article.art1 section {
  background-color: #a3734e;
  padding: 30px;
  font-family: "Emilys Candy", cursive;
  font-size: xx-large;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0px 0px 10px 10px #6b492e;
  border-top: 2px solid #29170a;
  border-left: 2px solid #29170a;
  border-bottom: 2px solid #29170a;
  text-shadow: 1px 1px 1px rgb(41, 30, 20);
  color: black;
}
main.menu article.art1 section p {
  padding: 10px;
}
@media (max-width: 620px) {
  main.menu article.art1 section {
    font-size: x-large;
  }
}
main.menu article.art1 aside {
  background-color: #a3734e;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 15px 0px 20px 10px #6b492e;
  border-top: 2px solid #29170a;
  border-right: 2px solid #29170a;
  border-bottom: 2px solid #29170a;
}
@media (max-width: 620px) {
  main.menu article.art1 aside {
    display: flex;
    align-items: center;
  }
}
main.menu article.art1 img {
  width: 320px;
  height: 320px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.menu article.art1 img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 500px) {
  main.menu article.art1 img {
    width: 160px;
    height: 160px;
  }
}
main.menu article.art2 div.conoce {
  margin-top: 100px;
  background-color: #a3734e;
  border-radius: 20px;
  padding: 0px 30px 0px 30px;
}
@media (max-width: 620px) {
  main.menu article.art2 div.conoce {
    font-size: x-large;
  }
}
@media (max-width: 500px) {
  main.menu article.art2 div.conoce {
    padding-bottom: 0px;
  }
}
main.menu article.art2 div.conoce a {
  color: black;
}

main article.art2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: "Lobster Two", cursive;
}
main article.art2 section {
  background-color: #a3734e;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(226, 217, 204));
  margin: 50px;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main article.art2 section {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  main article.art2 section {
    width: 350px;
    height: 290px;
  }
}
main article.art2 section h2 {
  padding-top: 10px;
  color: black;
  font-size: xxx-large;
  text-shadow: 1px 1px 1px white;
}
@media (max-width: 500px) {
  main article.art2 section h2 {
    font-size: larger;
  }
}
main article.art2 section div.container-fluid div.row {
  justify-content: center;
}
main article.art2 section div.container-fluid div.row div.carousel {
  width: 450px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main article.art2 section div.container-fluid div.row div.carousel {
    width: 350px;
  }
}
@media (max-width: 500px) {
  main article.art2 section div.container-fluid div.row div.carousel {
    width: 250px;
  }
}
main article.art2 section div.container-fluid div.row div.carousel img {
  max-height: 380px;
  border: 1px solid black;
  border-radius: 10%;
}
@media (min-width: 500px) and (max-width: 620px) {
  main article.art2 section div.container-fluid div.row div.carousel img {
    max-height: 280px;
  }
}
@media (max-width: 500px) {
  main article.art2 section div.container-fluid div.row div.carousel img {
    max-height: 180px;
  }
}

footer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cebfac;
  font-family: "Playfair Display", serif;
  font-size: larger;
  font-weight: bold;
  border-top: 3px solid rgb(0, 0, 0);
}
@media (min-width: 500px) and (max-width: 867px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 30px;
  }
}
@media (min-width: 500px) and (max-width: 810px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 620px) {
  footer {
    justify-items: center;
  }
}
@media (max-width: 500px) {
  footer {
    display: grid;
    grid-template-rows: 1fr 150px 200px;
    padding-bottom: 30px;
    justify-content: center;
  }
}
footer img {
  width: 300px;
  height: 300px;
}
@media (max-width: 867px) {
  footer img {
    grid-column: 1;
    grid-row: span 2;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 500px) {
  footer img {
    grid-row: 1;
  }
}
footer div {
  color: black;
}
footer div.metodoDePago {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 867px) and (max-width: 945px) {
  footer div.metodoDePago {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}
@media (min-width: 500px) and (max-width: 867px) {
  footer div.metodoDePago {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (max-width: 500px) {
  footer div.metodoDePago {
    grid-row: 2;
  }
}
@media (max-width: 867px) {
  footer div.metodoDePago div {
    display: flex;
  }
}
footer div.contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
}
@media (min-width: 867px) and (max-width: 945px) {
  footer div.contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media (min-width: 500px) and (max-width: 867px) {
  footer div.contactanos {
    grid-column: 2;
    grid-row: 2;
  }
}
@media (max-width: 500px) {
  footer div.contactanos {
    grid-row: 3;
  }
}
@media (min-width: 867px) and (max-width: 945px) {
  footer div.contactanos div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 867px) {
  footer div.contactanos div {
    display: flex;
  }
}
footer img.logo1 {
  width: 50px;
  height: 50px;
}
footer img.logo2 {
  width: 150px;
  height: 60px;
}
@media (min-width: 810px) and (max-width: 867px) {
  footer div.mapa {
    grid-column: 3;
    grid-row: span 2;
  }
}
@media (max-width: 810px) {
  footer div.mapa {
    display: none;
  }
}
@media (min-width: 810px) and (max-width: 867px) {
  footer div.mapa iframe {
    width: 250px;
    height: 300px;
  }
}

header.nomain {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  position: sticky;
  top: 101px;
  z-index: 998;
}
header.nomain nav {
  display: flex;
  background-color: #75553d;
  color: white;
  border-radius: 20px;
  width: 80%;
}
@media (max-width: 500px) {
  header.nomain nav {
    justify-content: space-evenly;
  }
}
header.nomain nav a {
  color: white;
  margin-right: 30px;
  margin-left: 10px;
  font-size: larger;
  font-family: "Lobster Two", cursive;
}
@media (max-width: 500px) {
  header.nomain nav a {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header.nomain nav a img {
  width: 25px;
  height: 24;
  margin-left: 100px;
}
@media (max-width: 500px) {
  header.nomain nav a img {
    margin-left: 0px;
  }
}
header.nomain nav p {
  margin: 0px;
  padding: 0px;
}
header.nomain nav span.secciones {
  margin-left: 30px;
  font-size: larger;
  font-family: "Lobster Two", cursive;
}

main.productos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.productos div.filtros {
  margin-top: 20px;
  display: flex;
  list-style: none;
}
main.productos div.filtros li.elementosF {
  background-color: antiquewhite;
  font-family: "Lobster Two", cursive;
  font-size: large;
  list-style: none;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}
main.productos div.filtros li.elementosF ul {
  position: absolute;
  display: none;
}
main.productos div.filtros li.elementosF:hover ul {
  display: block;
  list-style: none;
  margin-top: 23px;
  border: 1px solid black;
  padding: 0px;
}
main.productos div.filtros li.elementosF:hover ul li {
  background-color: rgb(46, 31, 6);
}
main.productos div.filtros li.elementosF:hover ul li a {
  color: white;
  font-size: larger;
  font-family: "Lobster Two", cursive;
  text-decoration: none;
}
main.productos div.filtros #elementosF1 {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
main.productos div.filtros #elementosF2 {
  border-radius: 0px 10px 10px 0px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

main.productos div.titulos {
  margin-top: 100px;
  font-family: "Lobster Two", cursive;
  font-size: x-large;
  background-color: beige;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
}
main.productos article.contenedor1 section {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
@media (max-width: 945px) {
  main.productos article.contenedor1 section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  main.productos article.contenedor1 section {
    grid-template-columns: repeat(1, 1fr);
  }
}
main.productos article.contenedor1 section div.card {
  padding: 15px;
  margin: 20px 40px 20px 40px;
  border-radius: 10px;
  display: flex;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(226, 217, 204));
  flex-direction: column;
  align-items: center;
  font-family: "Lobster Two", cursive;
  background-color: #a3734e;
}
@media (max-width: 810px) {
  main.productos article.contenedor1 section div.card {
    margin: 10px;
  }
}
main.productos article.contenedor1 section div.card p.nombre {
  font-size: xx-large;
  margin: 5px;
}
@media (max-width: 810px) {
  main.productos article.contenedor1 section div.card p.nombre {
    font-size: x-large;
    font-weight: bold;
  }
}
main.productos article.contenedor1 section div.card p.contenido {
  font-size: large;
}
main.productos article.contenedor1 section div.card p.precio {
  font-size: x-large;
  margin: 5px;
}
main.productos article.contenedor1 section div.card button {
  width: 200px;
  height: 45px;
  background-color: #ceac92;
  border: 0px;
  border-radius: 15px;
}
main.productos article.contenedor1 section div.card button img {
  width: 40px;
  height: 40px;
}
main.productos article.contenedor1 section div.card .animated {
  transition: all 1s;
  border: 10px solid beige;
  border-radius: 10px;
}
main.productos article.contenedor1 section div.card .animated:hover {
  transform: scale(1.05);
}
main.productos article.contenedor1 section div.card img {
  height: 300px;
  width: 100%;
}
@media (max-width: 810px) {
  main.productos article.contenedor1 section div.card img {
    width: 200px;
    height: 200px;
  }
}
main.productos div.conoce1 {
  display: flex;
  margin-top: 100px;
  background-color: beige;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: "Lobster Two", cursive;
  width: 300px;
  height: 100px;
  border-radius: 30px;
}
main.productos div.conoce1 a {
  color: black;
}
main.productos div.conoce1 a p {
  margin: 5px;
}

main.ofertas {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main.ofertas div.tituloOfertas {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
main.ofertas div.tituloOfertas img {
  width: 100px;
  height: 100px;
}
@media (min-width: 810px) and (max-width: 867px) {
  main.ofertas div.tituloOfertas img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 810px) {
  main.ofertas div.tituloOfertas img {
    width: 60px;
    height: 60px;
  }
}
main.ofertas div.tituloOfertas p {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 150px;
  color: #29170a;
  background-color: rgba(233, 215, 159, 0.3);
}
@media (min-width: 810px) and (max-width: 945px) {
  main.ofertas div.tituloOfertas p {
    font-size: 125px;
  }
}
@media (min-width: 620px) and (max-width: 810px) {
  main.ofertas div.tituloOfertas p {
    font-size: 100px;
  }
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.tituloOfertas p {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.tituloOfertas p {
    font-size: 60px;
  }
}
main.ofertas div.contenedorTotal {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 945px) {
  main.ofertas div.contenedorTotal {
    flex-direction: column;
  }
}
main.ofertas div.contenedorTotal article section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  background: wheat;
  width: 80%;
  height: 80%;
  border-radius: 60px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.contenedorTotal article section {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.contenedorTotal article section {
    width: 320px;
    height: 220px;
  }
}
main.ofertas div.contenedorTotal article section div {
  display: flex;
  flex-direction: column;
}
main.ofertas div.contenedorTotal article.contenedorinterno1 {
  font-family: "Lobster Two", cursive;
}
main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas1 {
  width: 200px;
  height: 200px;
  border-radius: 50px 0px 0px 0px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas1 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas1 {
    width: 110px;
    height: 110px;
  }
}
main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas2 {
  width: 200px;
  height: 200px;
  border-radius: 0px 0px 0px 50px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas2 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.contenedorTotal article.contenedorinterno1 .imagenOfertas2 {
    width: 110px;
    height: 110px;
  }
}
main.ofertas div.contenedorTotal article.contenedorinterno2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lobster Two", cursive;
}
main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas1 {
  width: 200px;
  height: 200px;
  border-radius: 50px 0px 0px 0px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas1 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas1 {
    width: 110px;
    height: 110px;
  }
}
main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas2 {
  width: 200px;
  height: 200px;
  border-radius: 0px 0px 0px 50px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas2 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  main.ofertas div.contenedorTotal article.contenedorinterno2 .imagenOfertas2 {
    width: 110px;
    height: 110px;
  }
}
main.ofertas div {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.ofertas div.conoce {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: beige;
  font-size: xx-large;
  font-family: "Lobster Two", cursive;
  width: 500px;
  height: 100px;
  border-radius: 30px;
}
main.ofertas div.conoce a {
  color: black;
}

main.recetas {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main.recetas div.tituloRecetas {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.recetas div.tituloRecetas p {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 150px;
  color: #29170a;
  background-color: rgba(233, 215, 159, 0.3);
}
@media (min-width: 810px) and (max-width: 945px) {
  main.recetas div.tituloRecetas p {
    font-size: 125px;
  }
}
@media (min-width: 620px) and (max-width: 810px) {
  main.recetas div.tituloRecetas p {
    font-size: 100px;
  }
}
@media (min-width: 500px) and (max-width: 620px) {
  main.recetas div.tituloRecetas p {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  main.recetas div.tituloRecetas p {
    font-size: 60px;
  }
}
main.recetas div.tituloRecetas img {
  width: 100px;
  height: 100px;
}
@media (min-width: 810px) and (max-width: 867px) {
  main.recetas div.tituloRecetas img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 810px) {
  main.recetas div.tituloRecetas img {
    width: 60px;
    height: 60px;
  }
}
main.recetas div.nombreRecetas {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: white;
}
main.recetas div.nombreRecetas h2 {
  margin-top: 100px;
  font-family: "Lobster Two", cursive;
  font-size: x-large;
  background-color: #29170a;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(192, 148, 85));
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid black;
}
main.recetas div.contenidoRecetas {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 945px) {
  main.recetas div.contenidoRecetas {
    align-items: center;
    flex-direction: column;
  }
}
main.recetas div.contenidoRecetas div.pasoRecetas {
  background-image: url(../images/fa22551f4470b96099a1c357c48e2a40aa.jpeg);
  height: 500px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  border: 3px solid rgb(255, 255, 255);
  padding-right: 40px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 945px) {
  main.recetas div.contenidoRecetas div.pasoRecetas {
    margin-bottom: 40px;
  }
}
main.recetas div.contenidoRecetas div.pasoRecetas p {
  padding-right: 40px;
  padding-top: 10px;
}
main.recetas div.contenidoRecetas div.pasoRecetas div p {
  margin-left: 10px;
}
main.recetas div.contenidoRecetas div.videoRecetas {
  height: 500px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29170a;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(192, 148, 85));
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px #6b492e;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.recetas div.contenidoRecetas div.videoRecetas {
    height: 400px;
    width: 500px;
  }
}
@media (max-width: 500px) {
  main.recetas div.contenidoRecetas div.videoRecetas {
    height: 300px;
    width: 400px;
  }
}
main.recetas div.contenidoRecetas div.videoRecetas iframe {
  border: 1px solid white;
  border-radius: 20px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.recetas div.contenidoRecetas div.videoRecetas iframe {
    height: 300px;
    width: 400px;
  }
}
@media (max-width: 500px) {
  main.recetas div.contenidoRecetas div.videoRecetas iframe {
    height: 250px;
    width: 350px;
  }
}

main.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  width: 100%;
}
main.nosotros div.explicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  background-color: #ceac92;
  width: 500px;
  border-radius: 25Spx;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.nosotros div.explicacion {
    width: 500px;
  }
}
@media (max-width: 500px) {
  main.nosotros div.explicacion {
    width: 90%;
  }
}
main.nosotros div.explicacion .explicacionContenido {
  padding-left: 15px;
}
main.nosotros div.formulario {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.nosotros div.nombreYapellido {
  display: flex;
}
@media (max-width: 867px) {
  main.nosotros div.nombreYapellido {
    flex-direction: column;
  }
}
main.nosotros div.nombreYapellido div {
  margin: 0px 10px 0px 10px;
}
@media (max-width: 867px) {
  main.nosotros div.nombreYapellido div {
    margin: 0px 0px 15px 0px;
  }
}
main.nosotros div.nombreYapellido input {
  width: 400px;
}
@media (max-width: 500px) {
  main.nosotros div.nombreYapellido input {
    width: 90%;
  }
}
main.nosotros div.email {
  margin-top: 40px;
}
main.nosotros div.email input {
  width: 828px;
}
@media (min-width: 620px) and (max-width: 867px) {
  main.nosotros div.email input {
    width: 600px;
  }
}
@media (min-width: 500px) and (max-width: 620px) {
  main.nosotros div.email input {
    width: 500px;
  }
}
@media (max-width: 500px) {
  main.nosotros div.email input {
    width: 90%;
  }
}
main.nosotros div.opciones {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 600px;
}
@media (min-width: 500px) and (max-width: 620px) {
  main.nosotros div.opciones {
    width: 90%;
  }
}
@media (max-width: 500px) {
  main.nosotros div.opciones {
    width: 90%;
  }
}
main.nosotros div.opciones div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.nosotros div.opciones div p {
  font-weight: 600;
  background-color: #ceac92;
  padding: 5px;
  border-radius: 10px;
}
main.nosotros div.textarea {
  margin-top: 50px;
}
@media (max-width: 620px) {
  main.nosotros div.textarea {
    width: 90%;
  }
}
@media (max-width: 620px) {
  main.nosotros div.textarea textarea {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
