$Colores: (
    marron1: #a3734e,
    marron2: rgb(46, 31, 6),
    marron3: rgb(114, 90, 59),
    marronBorder: #29170a,
    marronShadow: #6b492e,
    marronTextShadow: rgb(41, 30, 20),
    blanco: white,
    negro: black,
    rgbaNegro: rgba(255,255,255,0),
    rgbaPiel: rgb(226, 217, 204),
    casiBeige: #d1c2a1,
    casiBeige2: antiquewhite,
    foot: #cebfac,
    headNoMain: #75553d,
    beig: beige,
    marron4:#ceac92,
    whea: wheat,
    titulo1: rgba(233, 215, 159, 0.3),
    rgbMarronClaro: rgb(192, 148, 85),
);

$Fonts: (
    sans: (Arial, sans-serif),
    lobster: ('Lobster Two', cursive),
    serif: ('Playfair Display', serif),
    candy: ('Emilys Candy', cursive),
    large: larger,
    large2: x-large,
    large3: xx-large,
);