main.nosotros {
    @include Ubicacion (flex, column, center, none);
    width: 100%;

    div.explicacion {
        @include Ubicacion (flex, column, center, center);
        margin-top: 130px;
        background-color: #ceac92;
        width: 500px;
        border-radius: 25Spx;
        font-family: (map-get($Fonts, serif));
        font-weight: bold;
        

        @media (min-width: 500px) and (max-width: 620px){
            width:500px;
        }
        @media (max-width: 500px){
            width: 90%;
        }

        .explicacionContenido {
            padding-left: 15px;
        }
    }

    div.formulario {
        margin-top: 100px;
        @include Ubicacion3 (flex, column);
        @include Ubicacion5 (center, center);
    }

    div.nombreYapellido {
        display: flex;

        @media (max-width: 867px){
            flex-direction: column;
        }
        


        div {
            margin: 0px 10px 0px 10px;

            @media (max-width: 867px){
                margin: 0px 00px 15px 0px;
            }
        }

        input {
            width: 400px;
            @media (max-width: 500px){
                width: 90%; 
            }
        }
        
    }

    div.email {
        margin-top: 40px;

        input {
            width: 828px;

            @media (min-width: 620px) and (max-width: 867px){
                width: 600px;
            }
            @media (min-width: 500px) and (max-width: 620px){
                width: 500px;  
            }
            @media (max-width: 500px){
                width: 90%;   
            }
            }
    }

    div.opciones {
        margin-top: 50px;
        @include Ubicacion4 (flex, space-around);
        width: 600px;

        @media (min-width: 500px) and (max-width: 620px){
            width: 90%;
        }
        @media (max-width: 500px){
            width: 90%;
        }

        div {
            @include Ubicacion (flex, column, center, center);
            
            p {
                font-weight: 600;
                background-color: #ceac92;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }

    div.textarea {
        margin-top: 50px;

        @media (max-width: 620px){
            width: 90%;
        }

        textarea{
            @media (max-width: 620px){
                width: 100%;
            }
            
        }
    }
}